RaspberryPi-UdpBroadcastReceiver/Connected Services/LightTempServiceReference/LightTempService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LightTempService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ILightTempService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://raspberrypi-soap.azurewebsites.net/LightTempService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://raspberrypi-soap.azurewebsites.net/LightTempService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://raspberrypi-soap.azurewebsites.net/LightTempService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RaspberryPi_soap" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILightTempService_AddLightTempData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLightTempData" />
  </wsdl:message>
  <wsdl:message name="ILightTempService_AddLightTempData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLightTempDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILightTempService_GetAllLightTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLightTemp" />
  </wsdl:message>
  <wsdl:message name="ILightTempService_GetAllLightTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLightTempResponse" />
  </wsdl:message>
  <wsdl:portType name="ILightTempService">
    <wsdl:operation name="AddLightTempData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILightTempService/AddLightTempData" message="tns:ILightTempService_AddLightTempData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILightTempService/AddLightTempDataResponse" message="tns:ILightTempService_AddLightTempData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLightTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/ILightTempService/GetAllLightTemp" message="tns:ILightTempService_GetAllLightTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILightTempService/GetAllLightTempResponse" message="tns:ILightTempService_GetAllLightTemp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILightTempService" type="tns:ILightTempService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLightTempData">
      <soap:operation soapAction="http://tempuri.org/ILightTempService/AddLightTempData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLightTemp">
      <soap:operation soapAction="http://tempuri.org/ILightTempService/GetAllLightTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ILightTempService" type="tns:ILightTempService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ILightTempService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLightTempData">
      <soap:operation soapAction="http://tempuri.org/ILightTempService/AddLightTempData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLightTemp">
      <soap:operation soapAction="http://tempuri.org/ILightTempService/GetAllLightTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LightTempService">
    <wsdl:port name="BasicHttpBinding_ILightTempService" binding="tns:BasicHttpBinding_ILightTempService">
      <soap:address location="http://raspberrypi-soap.azurewebsites.net/LightTempService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ILightTempService" binding="tns:BasicHttpsBinding_ILightTempService">
      <soap:address location="https://raspberrypi-soap.azurewebsites.net/LightTempService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>