RaspberryPi-UdpBroadcastReceiver/Connected Services/LightTempServiceReference/LightTempService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RaspberryPi_soap" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RaspberryPi_soap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLightTemp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightTemp" nillable="true" type="tns:LightTemp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightTemp" nillable="true" type="tns:ArrayOfLightTemp" />
  <xs:complexType name="LightTemp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Light" type="xs:int" />
      <xs:element minOccurs="0" name="Temp" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightTemp" nillable="true" type="tns:LightTemp" />
</xs:schema>