RaspberryPi-UdpBroadcastReceiver/Connected Services/LightTempServiceReference/LightTempService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://raspberrypi-soap.azurewebsites.net/LightTempService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RaspberryPi_soap" />
  <xs:element name="AddLightTempData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="light" type="xs:int" />
        <xs:element minOccurs="0" name="temp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLightTempDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLightTemp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLightTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RaspberryPi_soap" minOccurs="0" name="GetAllLightTempResult" nillable="true" type="q1:ArrayOfLightTemp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>